---
---

<div class="pf-marlet-display">
  <h1>PF Marlet Display Font Test</h1>
  <p>This text should be in PF Marlet Display font.</p>
  <p style="font-weight: 300;">Light weight test</p>
  <p style="font-weight: 500;">Medium weight test</p>
  <p style="font-weight: 900;">Black weight test</p>
</div>
